# SPDX-FileCopyrightText: 2020 Helmholtz Centre for Environmental Research (UFZ)
# SPDX-FileCopyrightText: 2020 Helmholtz-Zentrum Dresden-Rossendorf (HZDR)
#
# SPDX-License-Identifier: Apache-2.0

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yamllint = "~=1.33.0"
ansible-lint = "~=6.22.0"
molecule = "~=6.0.2"
molecule-plugins = {extras = ["podman"], version = "~=23.5.0"}
reuse = "~=2.1.0"

[packages]
ansible = "~=8.5.0"

[requires]
python_version = "3.11"
