# SPDX-FileCopyrightText: 2020 Helmholtz Centre for Environmental Research (UFZ)
# SPDX-FileCopyrightText: 2020 Helmholtz-Zentrum Dresden-Rossendorf (HZDR)
#
# SPDX-License-Identifier: Apache-2.0

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yamllint = "~=1.28.0"
ansible-lint = "~=6.8.6"
molecule = {extras = ["podman"], version = "~=4.0.3"}
molecule-podman = "~=2.0.3"
reuse = "~=1.1.0"

[packages]
ansible = "~=6.5.0"

[requires]
python_version = "3.9"
