# SPDX-FileCopyrightText: 2020 Helmholtz Centre for Environmental Research (UFZ)
# SPDX-FileCopyrightText: 2020 Helmholtz-Zentrum Dresden-Rossendorf (HZDR)
#
# SPDX-License-Identifier: Apache-2.0

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yamllint = "~=1.26.3"
ansible-lint = "~=6.0.2"
molecule = {extras = ["docker"], version = "~=3.6.1"}
reuse = "~=0.14.0"

[packages]
ansible = "~=6.0.0"

[requires]
python_version = "3.9"
