# SPDX-FileCopyrightText: 2020 Helmholtz Centre for Environmental Research (UFZ)
# SPDX-FileCopyrightText: 2020 Helmholtz-Zentrum Dresden-Rossendorf (HZDR)
#
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=LVS and VRRP High Availability Monitor
After=network-online.target syslog.target
Wants=network-online.target

[Service]
Type=forking
PIDFile={{ keepalived_pid_file_dir }}/keepalived.pid
KillMode=process
EnvironmentFile=-{{ keepalived_base_dir }}/keepalived/etc/sysconfig/keepalived
ExecStart= {{ keepalived_base_dir }}/keepalived/sbin/keepalived -p {{ keepalived_pid_file_dir }}/keepalived.pid $KEEPALIVED_OPTIONS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
