#!/usr/bin/env sh
#
# {{ keepalived_name }}   LVS cluster monitor daemon.
#
### BEGIN INIT INFO
# Provides:          {{ keepalived_name }}
# Required-Start:    $syslog $network $remote_fs
# Required-Stop:     $syslog $network $remote_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 S 1 6
# Short-Description: Starts {{ keepalived_name }}
# Description:       Starts {{ keepalived_name }} lvs loadbalancer
### END INIT INFO
PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local
DAEMON={{ keepalived_path }} --dont-fork
NAME={{ keepalived_name }}
DESC={{ keepalived_name }}
CONFIG={{ keepalived_conf_dir }}{{ keepalived_name }}.conf
PIDFILE=/var/run/$NAME.pid

case "$1" in
    start)
        echo "Start Daemon"
        exec $DAEMON -f $CONFIG
        ;;
    stop)
        echo "Stop Daemon"
        kill `cat $PIDFILE`
        ;;
    restart)
        echo "Restart Daemon"
        kill `cat $PIDFILE`
        sleep 3
        exec $DAEMON -f $CONFIG
        ;;
    *)
       echo "Usage: /etc/init.d/$NAME {start|stop|restart}" >&2
       exit 1
       ;;
esac

exit 0
