# SPDX-FileCopyrightText: 2020 Helmholtz Centre for Environmental Research (UFZ)
# SPDX-FileCopyrightText: 2020 Helmholtz-Zentrum Dresden-Rossendorf (HZDR)
#
# SPDX-License-Identifier: Apache-2.0

global_defs {
{% if activate_script %}
    script_user {{ script_user }} {{ script_group }}
{% endif %}
{% if set_script_security_flag %}
    enable_script_security
{% endif %}
    notification_email {
        {{ notification_email }}
    }
    notification_email_from {{ notification_email_from }}
    smtp_server {{ smtp_server }}
    smtp_connect_timeout 30
{% if router_id is defined %}
    router_id {{ router_id }}
{% endif %}
}

{% if activate_script %}
vrrp_script {{ script_name }} {
    script "{{ script_command }}"
    interval 2
{% if weight is defined %}
    weight {{ weight }}
{% endif %}
}
{% endif %}

vrrp_instance VI_1 {

    interface {{ interface }}
    state {{ state }}
    priority {{ priority }}

    virtual_router_id {{ virtual_router_id }}
    unicast_src_ip {{ unicast_src_ip }}
    unicast_peer {
{% for unicast_peer in unicast_peers %}
        {{ unicast_peer }}
{% endfor %}
    }

    virtual_ipaddress {
        {{ virtual_ipaddress_config }}
    }

    authentication {
        auth_type PASS
        auth_pass {{ auth_pass }}
    }

{% if activate_script %}
    track_script {
        {{ script_name }}
    }
{% endif %}

    smtp_alert

}
